{% extends 'base.html' %}
{% block title %}Painel Admin{% endblock %}
{% block content %}
<h2>Bem-vindo, {{ current_user.username }}</h2>
<p>Você está logado!</p>
  <div class="container">
  <div class="row">
    <div class="col-sm">
    <a href="{{ url_for('main.nova_disciplina_view') }}" class="btn btn-secondary">➕ Nova Disciplina</a>

    </div>
    <div class="col-sm">
    <a href="/api/disciplinas/exportar/csv" class="btn btn-primary">Exportar Disciplinas (CSV)</a></li>
    </div>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}